{% include "round-head.html" %}

<div id="mh-controls">
  <a id="mh-back" href="{{ root }}/wonderland/">
    Back to Wonderland
  </a>
  <a id="mh-elsewhere" href="javascript:mh.nav();">
    Elsewhere
  </a>
  {% if team.url == 'hunt_hq' %}
  <a id="mh-answer" href="{{ root }}/round-solution/{{ round.round.url }}/">
    Solution
  </a>
  {% else %}
  <a id="mh-answer" href="javascript:mh.submit_answer();">
    {% if round.solved %}
    Weakness Of The Beast Found!
    {% else %}
    Submit Weakness Of The Beast
    {% endif %}
  </a>
  {% endif %}
</div>

<div id="mh-page">
  <div id="mh-banner">
    <div id="mh-title">
      {{ round.round.name }}
    </div>
  </div>
  <div id="mh-content">
    <div class="mh-flavortext">
      The Wonderland caucus race has always been disorganized, but it's gotten even more confusing since the constituents decided to start voting. Each of the birds is supposed to vote yes or no, but every one of them seems to be having an identity crisis and wants to vote both ways!
    </div>
    <p>
      <div id="mh-caucusrace-area">
	{% for bird in birds %}
        <div class="mh-caucusrace-bird">
          <img class="mh-caucusrace-bird-image" src="bird.png" />
          <img class="mh-caucusrace-points" src="points.png" />
          <div class="mh-caucusrace-yes">
	    {% if bird.yes_solved %}
            <img class="mh-caucusrace-yes-solved" src="solved.png" />
	    {% endif %}
            YES!
	    {% if bird.yes %}
	    <a href="{{ root }}/puzzle/{{ bird.yes.url }}/">{{ bird.yes.name }}</a>!
	    {% endif %}
	  </div>
          <div class="mh-caucusrace-no">
	    {% if bird.no_solved %}
            <img class="mh-caucusrace-no-solved" src="solved.png" />
	    {% endif %}
            NO!
	    {% if bird.no %}
	    <a href="{{ root }}/puzzle/{{ bird.no.url }}/">{{ bird.no.name }}</a>!
	    {% endif %}
	  </div>
        </div>
	{% endfor %}
      </div>
      <div id="mh-caucusrace-ballot-div">
	<img id="mh-caucusrace-ballot" src="ballot.png">
      </div>
  </div>

</div>

{% include "round-tail.html" %}
