<!DOCTYPE html>
<html>
<head>
<title>{{ round.round.name }} (Wonderland)</title>
<link rel="stylesheet" type="text/css" href="round.css">
<link href='https://fonts.googleapis.com/css?family=Parisienne|Alice' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body class="mh-fancy">
  <div id="mh-outer">
    <div id="mh-controls">
      <a id="mh-back" href="javascript:void(0);">
	Back to MIT
      </a>
      <a id="mh-plain-toggle" href="javascript:mh.plain_toggle();">
	Printable
      </a>
      <a id="mh-answer" href="javascript:void(0);">
	Submit Answer
      </a>
    </div>
    <div id="mh-page">
      <div id="mh-banner">
	<div id="mh-title">
	  {{ round.round.name }}
	</div>
      </div>
      <div id="mh-content">
	<div class="mh-flavortext">
          The Wonderland caucus race has always been disorganized, but it's gotten even more confusing since the constituents decided to start voting. Each of the birds is supposed to vote yes or no, but every one of them seems to be having an identity crisis and wants to vote both ways!
	</div>
	<p>
        <div id="mh-caucusrace-area">
          <div class="mh-caucusrace-bird">
            <img class="mh-caucusrace-bird-image" src="bird.png" />
            <img class="mh-caucusrace-points" src="points.png" />
            <div class="mh-caucusrace-yes">
              YES! <a href="javascript:void(0);">Let's Meet in the Middle</a>!
	    </div>
            <div class="mh-caucusrace-no" href="javascript:void(0);">
              NO! <a href="javascript:void(0);">You've Got Some Nerve</a>!
	    </div>
          </div>
          <div class="mh-caucusrace-bird">
            <img class="mh-caucusrace-bird-image" src="bird.png" />
            <img class="mh-caucusrace-points" src="points.png" />
            <div class="mh-caucusrace-yes">
              YES!
	    </div>
            <div class="mh-caucusrace-no" href="javascript:void(0);">
              NO!
	    </div>
          </div>
          <div class="mh-caucusrace-bird">
            <img class="mh-caucusrace-bird-image" src="bird.png" />
            <img class="mh-caucusrace-points" src="points.png" />
            <div class="mh-caucusrace-yes">
              YES! <a href="javascript:void(0);">Let's Meet in the Middle</a>!
	    </div>
            <div class="mh-caucusrace-no" href="javascript:void(0);">
              NO! <a href="javascript:void(0);">You've Got Some Nerve</a>!
	    </div>
          </div>
          <div class="mh-caucusrace-bird">
            <img class="mh-caucusrace-bird-image" src="bird.png" />
            <img class="mh-caucusrace-points" src="points.png" />
            <div class="mh-caucusrace-yes">
              YES!
	    </div>
            <div class="mh-caucusrace-no" href="javascript:void(0);">
              NO!
	    </div>
          </div>
          <div class="mh-caucusrace-bird">
            <img class="mh-caucusrace-bird-image" src="bird.png" />
            <img class="mh-caucusrace-points" src="points.png" />
            <div class="mh-caucusrace-yes">
              YES! <a href="javascript:void(0);">Let's Meet in the Middle</a>!
	    </div>
            <div class="mh-caucusrace-no" href="javascript:void(0);">
              NO! <a href="javascript:void(0);">You've Got Some Nerve</a>!
	    </div>
          </div>
          <div class="mh-caucusrace-bird">
            <img class="mh-caucusrace-bird-image" src="bird.png" />
            <img class="mh-caucusrace-points" src="points.png" />
            <div class="mh-caucusrace-yes">
              YES! <a href="javascript:void(0);">Let's Meet in the Middle</a>!
	    </div>
            <div class="mh-caucusrace-no" href="javascript:void(0);">
              NO! <a href="javascript:void(0);">You've Got Some Nerve</a>!
	    </div>
          </div>
          <div class="mh-caucusrace-bird">
            <img class="mh-caucusrace-bird-image" src="bird.png" />
            <img class="mh-caucusrace-points" src="points.png" />
            <div class="mh-caucusrace-yes">
              YES! <a href="javascript:void(0);">Let's Meet in the Middle</a>!
	    </div>
            <div class="mh-caucusrace-no" href="javascript:void(0);">
              NO! <a href="javascript:void(0);">You've Got Some Nerve</a>!
	    </div>
          </div>
        </div>
        <div id="mh-caucusrace-ballot-div">
	  <img id="mh-caucusrace-ballot" src="ballot.png">
	</div>
      </div>
    </div>
  </div>
  <script src="round.js"></script>
</body>
</html>
