{% include "common.js" %}
{% include "round-meta.js" %}

(function() {
    $('.mh-caucusrace-yes a, .mh-caucusrace-no a').mouseenter(function(e) {
	$(e.target).closest('div').toggleClass('mh-caucusrace-hover');
    });
    $('.mh-caucusrace-yes a, .mh-caucusrace-no a').mouseleave(function(e) {
	$(e.target).closest('div').toggleClass('mh-caucusrace-hover');
    });
})();

