{% include "common.css" %}

#mh-caucusrace-area {
    position: relative;
    height: 620px;
}
.mh-caucusrace-bird, .mh-caucusrace-bird img, .mh-caucusrace-points {
    position: absolute;
}
.mh-caucusrace-points {
    left: 146px;
    top: 15px;
}
.mh-caucusrace-yes a, .mh-caucusrace-no a {
    color: #fff;
}
.mh-caucusrace-yes, .mh-caucusrace-no {
    position: absolute;
    left: 160px;
    background: #00dccf;
    border-radius: 4px;
    color: #fff;
    padding: 4px 8px;
    white-space: nowrap;
    transition: all 0.1s linear;
}
.mh-caucusrace-hover {
    box-shadow: 0px 0px 8px #000;
    transition: all 0.1s linear;
}
.mh-caucusrace-yes {
    top: 0px;
}
.mh-caucusrace-no {
    top: 41px;
}
.mh-caucusrace-bird:first-child {
    left: 470px;
    top: 20px;
}
.mh-caucusrace-bird:first-child + .mh-caucusrace-bird {
    left: 70px;
    top: 90px;
}
.mh-caucusrace-bird:first-child + .mh-caucusrace-bird + .mh-caucusrace-bird {
    left: 260px;
    top: 180px;
}
.mh-caucusrace-bird:first-child + .mh-caucusrace-bird + .mh-caucusrace-bird + .mh-caucusrace-bird {
    left: 470px;
    top: 270px;
}
.mh-caucusrace-bird:first-child + .mh-caucusrace-bird + .mh-caucusrace-bird + .mh-caucusrace-bird + .mh-caucusrace-bird {
    left: 0px;
    top: 330px;
}
.mh-caucusrace-bird:first-child + .mh-caucusrace-bird + .mh-caucusrace-bird + .mh-caucusrace-bird + .mh-caucusrace-bird + .mh-caucusrace-bird {
    left: 130px;
    top: 420px;
}
.mh-caucusrace-bird:first-child + .mh-caucusrace-bird + .mh-caucusrace-bird + .mh-caucusrace-bird + .mh-caucusrace-bird + .mh-caucusrace-bird + .mh-caucusrace-bird {
    left: 400px;
    top: 480px;
}

@media screen {
    .mh-fancy #mh-caucusrace-ballot {
	width: 800px;
    }
    .mh-fancy #mh-caucusrace-ballot-div {
        text-align: center;
    }

    .mh-plain .mh-caucusrace-points {
	display: none;
    }
    .mh-plain .mh-caucusrace-yes, .mh-plain .mh-caucusrace-no {
        background: none;
	color: #000;
    }
    .mh-plain .mh-caucusrace-yes a, .mh-plain .mh-caucusrace-no a {
	color: #520;
    }
}

@media print {
    .mh-caucusrace-points {
	display: none;
    }
    .mh-caucusrace-yes, .mh-caucusrace-no {
        background: none;
	color: #000;
    }
    .mh-caucusrace-yes a, .mh-caucusrace-no a {
	color: #520;
    }
}
