.t {
    border-collapse: collapse;
    margin: 0px auto;
}
#mh-outer {
    width: 940px !important;
}
.t td {
    padding: 1px 0px;
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 15px;
    width: 17px;
}
.t td.w { background-color:#d9d2e9; }
.t td.wp { background-color:#c9daf8; }
.t td.wpi { background-color:#6d9eeb; }
.t td.ew { background-color:#cccccc; }
