    <script type="text/javascript">
      var lastClickedTarget = null;
      function clear(e) {
        while (e.hasChildNodes()) {
          e.removeChild(e.lastChild);
        }
      }
      function create(target, namedata, extra) {
        var e = document.createElement("video");
        e.setAttribute("height", "364px");
        e.setAttribute("autoplay", "");
        e.setAttribute("controls", "");
        for (var i = 0; i < namedata.length; i++) {
          var etype = document.createElement("source");
          etype.setAttribute("src", namedata[i][0]);
          etype.setAttribute("type", namedata[i][1]);
          e.appendChild(etype);
        }
        var b = document.getElementById("big");
        clear(b);
        b.appendChild(e);
        var c = document.getElementById("extra");
        clear(c);
        if (extra === undefined) {
          extra = "piano.orig.jpg";
        }
        var e2 = document.createElement("img");
        e2.setAttribute("src", extra);
        c.appendChild(e2);

        var f = document.getElementById("spacer");
	f.setAttribute("class", "opened");

        /*var event = window.event;
        var targ = event.target || event.srcElement;
        if (targ.nodeType == 3) targ = targ.parentNode;*/
        target.setAttribute("lastclicked", true);
        if (lastClickedTarget !== null && lastClickedTarget !== target) {
          lastClickedTarget.removeAttribute("lastclicked");
        }
        lastClickedTarget = target;
      }
    </script>

    <div class="preload">
      <img src="piano.orig.jpg" width="1" height="1" />
      <img src="piano.a.jpg" width="1" height="1" />
      <img src="piano.b.jpg" width="1" height="1" />
      <img src="piano.c.jpg" width="1" height="1" />
      <img src="piano.d.jpg" width="1" height="1" />
      <img src="piano.e.jpg" width="1" height="1" />
      <img src="piano.f.jpg" width="1" height="1" />
      <img src="piano.g.jpg" width="1" height="1" />
      <img src="piano.h.jpg" width="1" height="1" />
      <img src="piano.i.jpg" width="1" height="1" />
      <img src="piano.j.jpg" width="1" height="1" />
      <img src="piano.k.jpg" width="1" height="1" />
    </div>
    <div class="content">
      <div class="row background"><div id="extra" class="background_inner">
        <img src="piano.orig.jpg" />
      </div></div>
      <div class="row">
        <span class="thumb" onClick='create(this, [["x.1.mp4", "video/mp4"], ["x.1.ogv", "video/ogg"]])'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.2.mp4", "video/mp4"], ["x.2.ogv", "video/ogg"]])'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.3.mp4", "video/mp4"], ["x.3.ogv", "video/ogg"]])'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.4.mp4", "video/mp4"], ["x.4.ogv", "video/ogg"]])'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.5.mp4", "video/mp4"], ["x.5.ogv", "video/ogg"]])'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.6.mp4", "video/mp4"], ["x.6.ogv", "video/ogg"]])'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.7.mp4", "video/mp4"], ["x.7.ogv", "video/ogg"]])'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.8.mp4", "video/mp4"], ["x.8.ogv", "video/ogg"]])'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.9.mp4", "video/mp4"], ["x.9.ogv", "video/ogg"]])'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.10.mp4", "video/mp4"], ["x.10.ogv", "video/ogg"]])'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.11.mp4", "video/mp4"], ["x.11.ogv", "video/ogg"]])'>&#x25b6;</span>
      </div>
      <div class="row">
        <span class="thumb" onClick='create(this, [["x.a.mp4", "video/mp4"], ["x.a.ogv", "video/ogg"]], "piano.a.jpg")'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.b.mp4", "video/mp4"], ["x.b.ogv", "video/ogg"]], "piano.b.jpg")'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.c.mp4", "video/mp4"], ["x.c.ogv", "video/ogg"]], "piano.c.jpg")'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.d.mp4", "video/mp4"], ["x.d.ogv", "video/ogg"]], "piano.d.jpg")'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.e.mp4", "video/mp4"], ["x.e.ogv", "video/ogg"]], "piano.e.jpg")'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.f.mp4", "video/mp4"], ["x.f.ogv", "video/ogg"]], "piano.f.jpg")'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.g.mp4", "video/mp4"], ["x.g.ogv", "video/ogg"]], "piano.g.jpg")'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.h.mp4", "video/mp4"], ["x.h.ogv", "video/ogg"]], "piano.h.jpg")'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.i.mp4", "video/mp4"], ["x.i.ogv", "video/ogg"]], "piano.i.jpg")'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.j.mp4", "video/mp4"], ["x.j.ogv", "video/ogg"]], "piano.j.jpg")'>&#x25b6;</span>
        <span class="thumb" onClick='create(this, [["x.k.mp4", "video/mp4"], ["x.k.ogv", "video/ogg"]], "piano.k.jpg")'>&#x25b6;</span>
      <div id="big" class="row">
      </div>
      <div id="spacer" class="closed">
      </div>
    </div>



{% if gone_with_the_wind_released %}
<br/>
<br/>
<br/>
<br/>
<center>
<hr/>
<p><i>The following is a piece of another puzzle that got carried here by the wind. It is not related to this puzzle or any metapuzzle.</i></p>
<p><img src="wind.png" /></p>
<hr/>
</center>
{% endif %}
