RewriteEngine on
AuthUserFile /home/hunt/htpasswd/htpasswd
AuthName "Identify Yourself"
AuthType Basic
Require valid-user

RewriteEngine On
RewriteBase /

Header set Cache-Control "must-revalidate"

#Redirect answer submissions and hq contact requests into django app
RewriteRule ^(?:/?users/[^/]+)?(/?callin.*) /dynamic/solving/$1 [NS,NE,L]
RewriteRule ^(?:/?users/[^/]+)?(/?contact_hq.*) /dynamic/solving/general/$1 [NS,NE,L]

#do we want teams to start at MIT?
#RedirectMatch 301 ^/$ /round/mit

#If we are already hitting via a team subdir, etc. skip all rewrites
RewriteCond %{REQUEST_URI} ^(/mitrunaround|/errors/|/users|/server-status|/logout|/dynamic|/static|/admin/|/cgi-bin|/munin|/server-status|/hq)
RewriteRule .? - [L,NS]

#Add trailing slash here so mod_dir doesn't create 301 to team subdirs
#Yes this is a weird hack
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteCond /var/www/spoilr/users/%{LA-U:REMOTE_USER}%{REQUEST_URI} -d
RewriteRule ^(.*)$ $1/ [NS,L,R=301]

#If we don't want teams to start at the real root, this is so "teamindex.html" displays that root
#RewriteRule (.*)teamindex.html /users/%{LA-U:REMOTE_USER}/index.html [NS,L]

RewriteRule (.*) /users/%{LA-U:REMOTE_USER}/$1 [NS,L]

<FilesMatch "\.(html|htm|css)$">
Header set Cache-Control "must-revalidate"
</FilesMatch>  
