body {-webkit-print-color-adjust:exact; font-family: Georgia, Times New Roman;}
table {border-spacing:0; border-collapse:collapse;}
table th {border-collapse:collapse;}
table.pairing td {padding: 5px}
table.clues td {padding: 5px}
table.clues th {text-align: left}
th.spacer {width: 50px}
td.empty {border: 0px solid gray; width: 30px; height: 30px; text-align: center; vertical-align: middle; border-collapse:collapse;}
td.square {border: 1px solid black; width: 30px; height: 30px; text-align: center; vertical-align: middle; border-collapse:collapse;}
td.rightborder {border-right: 2px dashed red;}
td.leftborder {border-left: 2px dashed red;}
td.bottomborder {border-bottom: 2px dashed red;}
td.highlite {background-color: #CCFFCC;}
td.black {background-color: #000000; border-collapse:collapse;}
p {width: 650px}
