	.fip-table, .fip-td
	{
	    border-collapse: collapse;
	    margin: 0px;
	    padding: 0px;
            font-size: 12pt;
            font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
            text-align: center;
	}
	.bordie
	{
            margin: 0;
            padding: 0;
	    width: 30px;
	    height: 30px;
            background-color: #808080;
	    border: 2px solid black
	}
	.bordieb
	{
            margin: 0;
            padding: 0;
	    width: 30px;
	    height: 30px;
            background-color: #808080;
	    border: 2px solid black
	}
	.bordiec
	{
            margin: 0;
            padding: 0;
	    width: 30px;
	    height: 30px;
            background-color: #808080;
	    border: 2px solid black
	}
	.ans0
	{
            margin: 0;
            padding: 0;
	    width: 30px;
	    height: 30px;
            background-color: #C0C0ff;
	    border: 2px solid black
	}
	.ans1
	{
            margin: 0;
            padding: 0;
	    width: 30px;
	    height: 30px;
            background-color: #ffffff;
	    border: 2px solid black
	}
	.nact
	{
            margin: 0;
            padding: 0;
	    width: 30px;
	    height: 30px;
	}
	.act
	{
            margin: 0;
            padding: 0;
	    width: 30px;
	    height: 30px;
            background-color: #e0e0e0;
	}
	.normie
	{
            margin: 0;
            padding: 0;
            font-size: 10pt;
            font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
            text-align: left;
	}
