{% include "round-head.html" %}

<div id="mh-controls">
  <a id="mh-back" href="{{ root }}/wonderland/">
    Back to Wonderland
  </a>
  <a id="mh-elsewhere" href="javascript:mh.nav();">
    Elsewhere
  </a>
  <a id="mh-answer" href="javascript:mh.submit_answer();">
    {% if round.solved %}
    White Queen's Problem Is Solved!
    {% else %}
    Submit Solution To The White Queen's Problem
    {% endif %}
  </a>
</div>

<div id="mh-page">
  <div id="mh-banner">
    <div id="mh-title">
      {{ round.round.name }}
    </div>
  </div>

  <div id="mh-content">
    <div class="mh-flavortext">
      <p>
	As you arrive in Wonderland, you are greeted by the White Queen, who congratulates you on solving the meta puzzle.
      <p>
	"Solving the meta puzzle?" you ask. "But we haven't seen any of the puzzles in this round yet!"
      <p>
	"Yes, my dears," she explains to you, "That is the effect of living backwards. Rain falls up, 27 is 72, and you solve the meta puzzle and then you get the puzzles! Here is the solution:"
      <p>
	<div class="mh-queen-herring">
	  ITS JUST A RED HERRING
	</div>
      <p>
	"Now," she continues, "pursuant to rule 7.08(i), I should give you gift of gratitude for solving the meta. However, experiencing things backwards, as I do, you should bring me a gift. Any sort of red herring would do nicely."
    </div>

    {% if herring_ok %}

    <div class="mh-queen-acknowledgement">
      You brought the White Queen a red herring gift.
    </div>

    <div class="mh-flavortext">
      Upon visiting the Queen, teams discover that she's upset because everything is all red -- the beast has come through and painted all of her white things! Furthermore, her addled memory being what it is, she only remembers the answers to some of the puzzles, and she can't think far enough forward to remember the titles at all. Could you backsolve the rest of the answers and then solve for the titles of the puzzles? And perhaps figure out how to make everything white again, while you're at it? The Queen knows you will -- that's the effect of living backwards, after all -- she's just a little discombobulated and can't remember how you will do it.
    </div>
    
    <table class="mh-center">
      <tr><td>
	  <div class="mh-queen-grid">
	    <img src="answers_background.jpg">
	    {% for cell in cells %}
	    <div class="mh-queen-r mh-queen-r{{ cell.row }}"><div{% if cell.meta_url %} id="{{ cell.meta_url }}"{% endif %} class="mh-queen-c mh-queen-c{{ cell.column }}">
		{{ cell.letter }}&nbsp;=&nbsp;{% if cell.url %}<a href="{{ root }}/puzzle/{{ cell.url }}/">{{ cell.answer }}</a>{% if cell.solved %} [SOLVED]{% endif %}
		{% elif cell.meta_url %}???<br>
		<a style="white-space: nowrap;" href="javascript:mh.submit_answer2('{{ cell.meta_url }}', {% if cell.row > 3 %}true{% else %}false{% endif %});">Submit Answer</a>
		{% else %}(puzzle missing)
		{% endif %}
	    </div></div>
	    {% endfor %}
	  </div>
    </table>

    {% else %}

    <div class="mh-queen-command">
      Please come to HQ and bring the White Queen a red herring gift.
    </div>

    {% endif %}
  </div>

</div>

<div id="mh-submit-answer2-bg" style="display: none;"></div>
<div id="mh-submit-answer2" style="display: none;">
  <div id="mh-submit-answer2-inner" style="white-space: nowrap; overflow-x: hidden;">
    <iframe src="javascript:void 0;" id="mh-submit-answer2-iframe"></iframe>
  </div>
</div>

{% include "round-tail.html" %}
