<!DOCTYPE html>
<html>
<head>
<title>{{ round.round.name }} (Wonderland)</title>
<link rel="stylesheet" type="text/css" href="round.css">
<link href='https://fonts.googleapis.com/css?family=Parisienne|Alice' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body class="mh-fancy">
  <div id="mh-outer">
    <div id="mh-controls">
      <a id="mh-back" href="javascript:void(0);">
	Back to MIT
      </a>
      <a id="mh-plain-toggle" href="javascript:mh.plain_toggle();">
	Printable
      </a>
      <a id="mh-answer" href="javascript:void(0);">
	Submit Answer
      </a>
    </div>
    <div id="mh-page">
      <div id="mh-banner">
	<div id="mh-title">
	  {{ round.round.name }}
	</div>
      </div>
      <div id="mh-content">
	<div class="mh-flavortext">
	  Upon visiting the Queen, teams discover that she's upset because everything is all red -- the beast has come through and painted all of her white things! Furthermore, her addled memory being what it is, she only remembers the answers to some of the puzzles, and she can't think far enough forward to remember the titles at all. Could you backsolve the rest of the answers and then solve for the titles of the puzzles? And perhaps figure out how to make everything white again, while you're at it? The Queen knows you will -- that's the effect of living backwards, after all -- she's just a little discombobulated and can't remember how you will do it.
	</div>

	<p>
	  <table class="mh-center">
	    <tr><td>
		<div class="mh-queen-grid">
		  <img src="answers_background.jpg">
		  <div class="mh-queen-r1"><div class="mh-queen-c1">
		    I = WILLIAMS
		  </div></div>
		  <div class="mh-queen-r1"><div class="mh-queen-c2">
		    T = ???
		  </div></div>
		  <div class="mh-queen-r1"><div class="mh-queen-c3">
		    S = LYNN
		  </div></div>
		  <div class="mh-queen-r2"><div class="mh-queen-c1">
		    J = ???
		  </div></div>
		  <div class="mh-queen-r2"><div class="mh-queen-c2">
		    U = ???
		  </div></div>
		  <div class="mh-queen-r2"><div class="mh-queen-c3">
		    S = ???
		  </div></div>
		  <div class="mh-queen-r3"><div class="mh-queen-c1">
		    T = ???
		  </div></div>
		  <div class="mh-queen-r3"><div class="mh-queen-c2">
		    A = ???
		  </div></div>
		  <div class="mh-queen-r3"><div class="mh-queen-c3">
		    R = SULLIVAN
		  </div></div>
		  <div class="mh-queen-r4"><div class="mh-queen-c1">
		    E = ???
		  </div></div>
		  <div class="mh-queen-r4"><div class="mh-queen-c2">
		    D = ???
		  </div></div>
		  <div class="mh-queen-r4"><div class="mh-queen-c3">
		    H = ???
		  </div></div>
		  <div class="mh-queen-r5"><div class="mh-queen-c1">
		    E = ???
		  </div></div>
		  <div class="mh-queen-r5"><div class="mh-queen-c2">
		    R = ???
		  </div></div>
		  <div class="mh-queen-r5"><div class="mh-queen-c3">
		    R = SULLIVAN
		  </div></div>
		  <div class="mh-queen-r6"><div class="mh-queen-c1">
		    I = ???
		  </div></div>
		  <div class="mh-queen-r6"><div class="mh-queen-c2">
		    N = ???
		  </div></div>
		  <div class="mh-queen-r6"><div class="mh-queen-c3">
		    G = ???
		  </div></div>
		</div>
	  </table>
      </div>
    </div>
  </div>
  <script src="round.js"></script>
</body>
</html>
