{% include "common.css" %}
{% include "round-meta.css" %}

@media screen {
    body.mh-fancy {
	background: #f78d8d url('background.jpg') no-repeat top center;
    }
}

#mh-outer {
  width: 940px !important;
}

.mh-queen-grid {
  position: relative;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.mh-queen-r {
  position: absolute;
}
.mh-queen-r1 {
  top: 73px;
}
.mh-queen-r2 {
  top: 210px;
  left: -4px;
}
.mh-queen-r3 {
  top: 348px;
  left: -7px;
}
.mh-queen-r4 {
  top: 485px;
  left: -7px;
}
.mh-queen-r5 {
  top: 618px;
  left: -9px;
}
.mh-queen-r6 {
  top: 752px;
  left: -10px;
}
.mh-queen-c {
  position: absolute;
  width: 115px;
}
.mh-queen-c1 {
  left: 240px;
}
.mh-queen-c1 {
  left: 240px;
}
.mh-queen-c2 {
  left: 385px;
}
.mh-queen-c3 {
  left: 525px;
}
.mh-queen-c a {
  color: #fff;
}

.mh-queen-herring {
  font-weight: bold;
  font-style: normal;
  background: #800;
  color: #fee;
  text-align: center;
}
.mh-queen-command, .mh-queen-acknowledgement {
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

#mh-submit-answer2-bg {
    position: fixed;
    background: #888;
    opacity: 0.5;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
#mh-submit-answer2 {
    position: absolute;
    width: 470px;
    height: 400px;
    background: aliceblue;
    padding: 20px;
    border-radius: 15px;
    border: 0px solid black;
    box-shadow: #222 5px 5px 10px;
}
#mh-submit-answer2-iframe {
    width: 470px;
    height: 400px;
    border: 0px;
}
