{% include "common.js" %}
{% include "round-meta.js" %}

mh.submit_answer2 = function(cell_id, above) {
    var outer = $('#mh-submit-answer2');
    var bg = $('#mh-submit-answer2-bg');
    var inner = $('#mh-submit-answer2-inner');
    bg.stop(true, true);
    outer.stop(true, true);
    if (outer.is(':visible')) {
	bg.fadeTo('slow', 0, function() {
	    bg.hide();
        });
        outer.fadeToggle('slow', function() {
	    mh.set_iframe_location('mh-submit-answer2-iframe', 'javascript: void 0;');
        });
    } else {
	var c = $('#'+cell_id).offset();
	var t;
        if (above)
            t = c.top - 450;
        else
            t = c.top + 50;
	var l = c.left - 165;
	outer.css('top', t+'px');
	outer.css('left', l+'px');
	$('body').append(outer);
	mh.set_iframe_location('mh-submit-answer2-iframe', '{{ root }}/dynamic/submit/meta/' + cell_id);
	bg.fadeTo('slow', 0.5);
        outer.fadeToggle('slow');
    }
};
$('#mh-submit-answer2-bg').click(mh.submit_answer2);
