{% include "common.css" %}

@media screen {
    body.mh-fancy {
	background: #74b87d url('puzzle_background.jpg') no-repeat top center;
    }
}

#mh-outer {
  width: 940px !important;
}

.mh-queen-grid {
  position: relative;
  color: #fff;
}

.mh-queen-r1 {
  position: absolute;
  top: 73px;
}
.mh-queen-r2 {
  position: absolute;
  top: 210px;
  left: -4px;
}
.mh-queen-r3 {
  position: absolute;
  top: 348px;
  left: -7px;
}
.mh-queen-r4 {
  position: absolute;
  top: 485px;
  left: -7px;
}
.mh-queen-r5 {
  position: absolute;
  top: 618px;
  left: -9px;
}
.mh-queen-r6 {
  position: absolute;
  top: 752px;
  left: -10px;
}
.mh-queen-c1 {
  position: absolute;
  left: 240px;
  white-space: nowrap;
}
.mh-queen-c1 {
  position: absolute;
  left: 240px;
  white-space: nowrap;
}
.mh-queen-c2 {
  position: absolute;
  left: 385px;
  white-space: nowrap;
}
.mh-queen-c3 {
  position: absolute;
  left: 525px;
  white-space: nowrap;
}

.mh-queen-herring {
  font-weight: bold;
  font-style: normal;
  background: #800;
  color: #fee;
}
.mh-queen-command, .mh-queen-acknowledgement {
  font-weight: bold;
  padding: 20px;
  text-align: center;
}