<!DOCTYPE html>
<html>
  <head>
    <title>{{ round.round.name }}</title>
    <link rel="stylesheet" type="text/css" href="story.css">
    <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body> 
    <div id="mh-controls">
      <a href="{{ root }}/wonderland/">
	Back to Wonderland
      </a>
      <a href="javascript:mh.nav();">
	Elsewhere
      </a>
    </div>
    <div id="mh-book">
      <div id="mh-col1">
	<div id="mh-title">{{ round.round.name }}</div>
	<div style="position: relative;">
	  <a href=".">
	    <img id="mh-image" src="queen.jpg" />
	    <div id="mh-face">
	      <img title="{{ round.round.name }}" src="face.gif" />
	    </div>
	  </a>
	</div>
	<p>
	  After falling down a rabbit hole (which felt remarkably like falling up), you find yourself in Wonderland near a castle. Wherever you are appears to be quite festive and colorful, although in the distance you see what appears to be a pale queen who looks quite upset.
	<p>
	  The Cheshire Cat appears next to you, grinning enough to make up for the Queen's displeasure. "I see the double trouble didn't trouble you," remarks the Cat. "Now you've fit through a hole and found yourself here....where here is far from there. And here is very strange indeed. Or perhaps I should say: indeed strange very is here."
      </div>
      <div id="mh-col2">
	<p>
	  "The White Queen is over thataway. She'll explain this all, or she won't. She's seen you leave, you see, but she hasn't seen you arrive yet. It's all very simple, except for when it's not. But one word of advice: cardinal may be one of your school colors, but I wouldn't wear it around her. Though if you can fix her problem, she might be willing to overlook it. She might even given you an object of thanks, which could be used later against the Beast. Or perhaps it'll be a cluster of catnip to thank me for introducing you in the first place...or is it the second place?"
	<p>
	  The Cat then stands on her head, her mysterious smile looking suspiciously like a frown, and vanishes into thin air, as she seems to be wont to do. Left alone, you walk towards the Queen.
	<div class="mh-enter">
	  <a href=".">ENTER</a>
	</div>
      </div>
    </div>
    {% include "nav.html" %}
    <script src="story.js"></script>
  </body>
</html>
