body {
  background-color: rgb(30, 50, 110);
}
div.star
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-color: white;
  display: none;
  visibility: hidden;
  z-index: 1;
}
div.container
{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
div.cat
{
  position: absolute;
  height: 200px;
  width: 310px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -155px;
  z-index: 2;
}