<div class="mh-flavortext">
Congrats! You've solved this puzzle. The answer is WILLIAMS. However, you don't know its title. When you think you've gotten the title, call HQ.
</div>

<br/>

<p><i>Note from HQ: When you originally solved this puzzle, we had given you a transparency. If your team doesn't still have it, we can only conclude that there was some sort of hilarious mishap involving it being eaten by iguanas, and it is permanently lost. Unfortunately, we don't have any extra copies to give you, so please don't call HQ to ask.</i></p>

<p><i>However, since you've already solved the puzzle, please feel free to look at the solution:</i></p>

<br/>

<hr/>

<h2>Solution</h2>

<p>This puzzle consists of a single transparency sheet, looking a bit darker than a normal transparency. It is perforated so that it can be separated into four smaller horizontal strips of equal size.</p>

<p>The sheets appear at first glance to be blank, but if you overlay them on an overhead projector, you can see the title spelled out. This is because each strip is a 16&times;7 rectangular grid of square cells, each of which is a linear polarizer oriented at some multiple of 45 degrees.</p>

<p>To solve the puzzle, put the strips on top of one another, preserving their original top-to-bottom order, and see what image you get if you remove one of them. The table below shows the four corresponding images, each resulting from removing a different strip. A white cell represents the maximum possible light intensity passing through the overlaid sheets; a black cell represents no light passing through; and shades of gray represent intermediate intensity levels.</p>

<p><table cellpadding="8px">
<tr><td><b>Overlaid strips</b></td><td><b>Image</b></td><td><b>Letters</b></td></tr>
<tr><td>2, 3, 4</td><td><img src="1.png" /><br/></td><td>W, I</td></tr>
<tr><td>1, 3, 4</td><td><img src="2.png" /><br/></td><td>L, L</td></tr>
<tr><td>1, 2, 4</td><td><img src="3.png" /><br/></td><td>I, A</td></tr>
<tr><td>1, 2, 3</td><td><img src="4.png" /><br/></td><td>M, S</td></tr>
</table>
</p>

<p>If you look carefully at the images, the cells with the highest intensity spell out two letters in each image. Order the images by the position of the strip removed, as shown above, and the letters spell out the answer <b>WILLIAMS</b>.</p>


{% if gone_with_the_wind_released %}
<br/>
<br/>
<br/>
<br/>
<center>
<hr/>
<p><i>The following is a piece of another puzzle that got carried here by the wind. It is not related to this puzzle or any metapuzzle.</i></p>
<p><img src="wind.png" /></p>
<hr/>
</center>
{% endif %}
