.sudoku {
  border-collapse: collapse;
}
.sudoku th {
  width: 20px;
  height: 24px;
  text-align: center;
}
.sudoku td {
  border: 1px solid black;
  width: 20px;
  height: 24px;
  text-align: center;
}
.sudoku .r {
  border-right: 3px solid black;
}
.sudoku tr.b td {
  border-bottom: 3px solid black;
}
.sudoku tr.t td {
  border-top: 3px solid black;
}
