{% include "common.css" %}
{% include "puzzle.css" %}

@media screen {
    body.mh-fancy {
	background: #74b87d url('{{ root }}/round/{{ round.round.url }}/background.jpg') no-repeat top center;
    }
}

@media screen {
    .mh-fancy #mh-knights-piece {
	float: left;
	padding: 10px;
    }
    .mh-plain #mh-knights-piece {
	float: left;
	padding: 10px;
    }
}

@media print {
    #mh-banner {
        height: 120px;
    }
    #mh-knights-piece {
	float: left;
	padding: 10px;
    }
}

{{ puzzle_css|safe }}
