<!DOCTYPE html>
<html>
<head>
<title>{{ round.name }}</title>
<link rel="stylesheet" type="text/css" href="round.css">
<link href='https://fonts.googleapis.com/css?family=Parisienne|Alice' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body class="mh-fancy">
  <div id="mh-outer">
    <div id="mh-controls">
      <a id="mh-back" href="{{ root }}">
	Back to ???
      </a>
      <a id="mh-answer" href="javascript:void(0);">
	Submit Bait
      </a>
    </div>
    <div id="mh-page">
      <div id="mh-banner">
	<div id="mh-title">
	  {{ round.name }}
	</div>
	<img class="mh-drink-me" style="right: 130px;" src="drunkme.png">
	<img class="mh-drink-me" style="right: 70px;" src="drinkme10.png">
	<img class="mh-drink-me" style="right: 10px;" src="drinkme05.png">
      </div>
      <div id="mh-content">
	<div style="position: relative;">
	  <img src="map.jpg" />
	  {% for puzzle in puzzles %}
	  <a href="{{ root }}/puzzle/{{ puzzle.puzzle.url }}">
	    <img class="mh-map-location" title="{{puzzle.puzzle.name}}" style=
		 {% if puzzle.location.name == "Lobby 10" %}
		 "top: 148px; left: 416px;"
		 {% elif puzzle.location.name == "Strobe Alley" %}
		 "top: 128px; left: 482px;"
		 {% elif puzzle.location.name == "Building 6 Lobby" %}
		 "top: 181px; left: 592px;"
		 {% elif puzzle.location.name == "Khipu knots" %}
		 "top: 136px; left: 575px;"
		 {% elif puzzle.location.name == "Hack Pictures" %}
		 "top: 142px; left: 660px;"
		 {% elif puzzle.location.name == "Killian Court" %}
		 "top: 242px; left: 412px;"
		 {% elif puzzle.location.name == "Building 38 Athena Cluster" %}
		 "top: 45px; left: 454px;"
		 {% elif puzzle.location.name == "Ship Museum" %}
		 "top: 178px; left: 240px;"
		 {% else %}
		 "{{ puzzle.location }}"
		 {% endif %}
		 src=
		 {% if puzzle.puzzle.solved %}
		 "location_solved.png"
		 {% else %}
		 "location_unsolved.png"
		 {% endif %} /></a>
	  {% endfor %}
	</div>

	<ul>
	  {% for puzzle in puzzles %}
	  <li class=
	      {% if puzzle.puzzle.solved %}
	      "mh-list-solved"
	      {% else %}
	      "mh-list-unsolved"
	      {% endif %}
	      ><a href="{{ root }}/puzzle/{{ puzzle.puzzle.url }}">{{ puzzle.puzzle.name }}</a>
	  {% endfor %}
	</ul>

      </div>
    </div>
  </div>
  <script src="round.js"></script>
</body>
</html>
