{% include "round-head.html" %}
<div id="mh-controls">
  <a id="mh-back" href="{{ root }}">
    Back to Lobby
  </a>
  {% if bait_ready < 3 %}
  <a id="mh-answer" href="javascript:mh.submit_answer();">
    Submit Bait
  </a>
  {% endif %}
</div>

<div id="mh-page">
  <div id="mh-banner">
    <div id="mh-title">
      {{ round.round.name }}
    </div>
    {% if vial1 > -1 %}
    <img class="mh-drink-me" style="right: 130px;" src="drinkme{{ vial1|stringformat:"02d" }}.png" />
    {% endif %}
    {% if vial2 > -1 %}
    <img class="mh-drink-me" style="right: 70px;" src="drinkme{{ vial2|stringformat:"02d" }}.png" />
    {% endif %}
    {% if vial3 > -1 %}
    <img class="mh-drink-me" style="right: 10px;" src="drinkme{{ vial3|stringformat:"02d" }}.png" />
    {% endif %}
  </div>

  <div id="mh-content">
    <div style="position: relative;">
      <img src="map.jpg" />
      {% for puzzle in puzzles %}
      <a href="{{ root }}/puzzle/{{ puzzle.puzzle.url }}/">
	<img class="mh-map-location" title="{{puzzle.puzzle.name}}" style=
	     {% if puzzle.location.name == "W20" %}
	     "top: 123px; left: 158px;"
	     {% elif puzzle.location.name == "32" %}
	     "top: 42px; left: 687px;"
	     {% elif puzzle.location.name == "14" %}
	     "top: 214px; left: 668px;"
	     {% elif puzzle.location.name == "W11" %}
	     "top: 10px; left 10px;"
	     {% elif puzzle.location.name == "33" %}
	     "top: 86px; left: 293px;"
	     {% elif puzzle.location.name == "34" %}
	     "top: 58px; left: 487px;"
	     {% elif puzzle.location.name == "66" %}
	     "top: 139px; left: 860px;"
	     {% elif puzzle.location.name == "2" %}
	     "top: 10px; left 10px;"
	     {% elif puzzle.location.name == "50" %}
             "top: 233px; left: 826px;"
	     {% elif puzzle.location.name == "5" %}
	     "top: 183px; left: 255px;"
	     {% elif puzzle.location.name == "1" %}
             "top: 10px; left: 10px;"
	     {% elif puzzle.location.name == "37" %}
             "top: 60px; left: 362px;"
	     {% elif puzzle.location.name == "12" %}
             "top: 10px; left: 10px;"
	     {% elif puzzle.location.name == "38" %}
	     "top: 10px; left 10px;"
	     {% elif puzzle.location.name == "56" %}
	     "top: 141px; left: 651px;"
	     {% elif puzzle.location.name == "6" %}
	     "top: 10px; left 10px;"
	     {% elif puzzle.location.name == "Killian Court" %}
	     "top: 10px; left 10px;"
	     {% elif puzzle.location.name == "54" %}
             "top: 180px; left: 751px;"
	     {% elif puzzle.location.name == "10" %}
	     "top: 180px; left: 430px;"
	     {% elif puzzle.location.name == "4" %}
	     "top: 10px; left 10px;"
	     {% elif puzzle.location.name == "8" %}
	     "top: 10px; left 10px;"
	     {% elif puzzle.location.name == "7" %}
             "top: 139px; left: 272px;"
	     {% elif puzzle.location.name == "26" %}
             "top: 104px; left: 557px;"
	     {% elif puzzle.location.name == "13" %}
             "top: 105px; left: 381px;"
	     {% else %}
	     "{{ puzzle.location }}"
	     {% endif %}
	     src=
	     {% if puzzle.solved %}
	     "location_solved.png"
	     {% else %}
	     "location_unsolved.png"
	     {% endif %} /></a>
      {% endfor %}
      {% if portal1 == "open" %}
      {% elif portal1 == "visible" %}
      {% endif %}
      {% if portal2 == "open" %}
      {% elif portal2 == "visible" %}
      {% endif %}
      {% if portal3 == "open" %}
      {% elif portal3 == "visible" %}
      {% endif %}
    </div>
  
    <ul>
      {% for puzzle in puzzles %}
      <li class=
	  {% if puzzle.solved %}
	  "mh-list-solved"
	  {% else %}
	  "mh-list-unsolved"
	  {% endif %}
	  ><a href="{{ root }}/puzzle/{{ puzzle.puzzle.url }}/">{{ puzzle.puzzle.name }}</a>
	{% endfor %}
    </ul>
  </div>

  {% include "submit-answer.html" %}

</div>

{% include "round-tail.html" %}
