{% include "common.css" %}
{% include "round-meta.css" %}

@media screen {
    body.mh-fancy {
	background: #d0ceca url('puzzle_background.jpg') no-repeat top center;
    }
}

.mh-banner {
    position: relative;
}

.mh-drink-me-div {
    position: absolute;
    top: 55px;
    font-size: 17px;
}
.mh-drink-me {
    position: relative;
}
.mh-drink-me-num {
    position: absolute;
    top: 43px;
    left: 11px;
}
.mh-drink-me-den {
    position: absolute;
    top: 61px;
    left: 19px;
}

.mh-map-location {
    position: absolute;
}

.mh-map-card {
    position: absolute;
    width: 30px;
}

.mh-puzzle-card {
    width: 30px;
    position: absolute;
    left: -30px;
}

.mh-puzzle-solved {
    width: 30px;
    position: absolute;
    left: -30px;
}

.mh-puzzle-name {
    position: relative;
    top: 10px;
}

.mh-puzzle-link {
    text-decoration: none;
}

.mh-puzzle {
    width: 600px;
    height: 40px;
    margin: 0px auto;
    position: relative;
}

.mh-list-solved {
    list-style-type: none;
    background: url('location_solved.png') no-repeat 0px 2px;
    height: 26px;
    padding-left: 25px;
    padding-top: 2px;
}

.mh-list-unsolved {
    list-style-type: none;
    background: url('location_unsolved.png') no-repeat 0px 2px;
    height: 26px;
    padding-left: 25px;
    padding-top: 2px;
}
