<!DOCTYPE html>
<html>
<head>
<title>{{ round.name }} (Story)</title>
<link rel="stylesheet" type="text/css" href="story.css">
<link href='https://fonts.googleapis.com/css?family=Parisienne|Alice' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body class="mh-story">
  <div id="mh-story-image">
    <a href="../{{ round.url }}">
      <img src="story_background.jpg" />
    </a>
  </div>
  <script src="round.js"></script>
</body>
</html>
