{% include "common.css" %}
{% include "puzzle.css" %}

@media screen {
    body.mh-fancy {
	background: #7ceeff url('{{ root }}/round/{{ round.round.url }}/puzzle_background.jpg') no-repeat top center;
    }
}

@media screen {
    .mh-fancy #mh-turtle {
	float: left;
	padding: 10px;
    }
    .mh-plain #mh-turtle {
	position: absolute;
	left: 10px;
	top: 10px;
    }
    .mh-plain #mh-banner {
        height: 160px;
    }
}

@media print {
    #mh-banner {
        height: 160px;
    }
    #mh-turtle {
	position: absolute;
	left: 10px;
	top: 10px;
    }
}

{{ puzzle_css|safe }}
