<!DOCTYPE html>
<html>
  <head>
    <title>{{ round.round.name }}</title>
    <link rel="stylesheet" type="text/css" href="story.css">
    <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body> 
    <div id="mh-controls">
      <a href="{{ root }}/lobby.html">
	Back to Lobby 7
      </a>
      <a href="javascript:mh.nav();">
	Elsewhere
      </a>
    </div>
    <div id="mh-book">
      <div id="mh-col1">
	<div id="mh-title">{{ round.round.name }}</div>
	<div style="position: relative;">
	  <a mh-href=".">
	    <img id="mh-image" src="stata.jpg" />
	    <div id="mh-windows">
	      <img title="{{ round.round.name }}" src="windows.gif" />
	    </div>
	  </a>
	</div>
	<p>
	  Standing alone outside Stata, you hear the voice of the Cat. First on one side, then on the other. 
	<p>
	  "Yes, those rabbit holes that lead from Wonderland to MIT do need to be closed. I'm glad we agree. Otherwise, someone might fall in accidentally and find themselves somewhere entirely unexpected."
	<p>
	  The voice moves and now seems to be coming from above you. 
	<p>
	  "There are ways to close them, of course. I might know one that could help you."
      </div>
      <div id="mh-col2">
	<p>
	  You hear the voice again behind you. You spin around but still see nothing.
	<p>
	  "I think some other Wonderlandians have advice for you, too, but I'm not sure their advice will be all that useful. Perhaps I can find a way to make something useful out of uselessness, though.  I've set up a schedule for you to meet with some of them and see what they have to offer."
	<p>
	  The voice appears in front of you now, along with the bright outline of a smile. 
	<p>
	  "If I were you, I would be sure to attend all of these events at MIT this weekend.  Do try to learn what you can do about the rabbit holes.  It just may be useful later."
	<p>
	  The Cat's voice and smile both fade out gradually, leaving you alone. You look down and notice that she somehow managed to slip a schedule into your hands without you realizing it.
	<div class="mh-enter">
	  <a href=".">ENTER</a>
	</div>
      </div>
    </div>
    {% include "nav.html" %}
    <script src="story.js"></script>
  </body>
</html>
