{% include "puzzle-head.html" %}

<div id="mh-banner">
  <div id="mh-title">
    {{ puzzle.puzzle.name }}
  </div>
</div>

<div id="mh-content">
  {{ index_html|safe }}
</div>

{% include "puzzle-tail.html" %}
