{% include "common.css" %}
{% include "puzzle.css" %}

@media screen {
    body.mh-fancy {
	background: #e4eeef url('{{ root }}/round/{{ round.round.url }}/puzzle_background.jpg') no-repeat top center;
    }
}

{{ puzzle_css|safe }}
