{% include "round-head.html" %}

<div id="mh-controls">
  <a id="mh-back" href="{{ root }}/wonderland/">
    Back to Wonderland
  </a>
  <a id="mh-elsewhere" href="javascript:mh.nav();">
    Elsewhere
  </a>
  {% if team.url == 'hunt_hq' %}
  <a id="mh-answer" href="{{ root }}/round-solution/{{ round.round.url }}/">
    Solution
  </a>
  {% else %}
  <a id="mh-answer" href="javascript:mh.submit_answer();">
    {% if round.solved %}
    Weakness Of The Beast Found!
    {% else %}
    Submit Weakness Of The Beast
    {% endif %}
  </a>
  {% endif %}
</div>

<div id="mh-page">
  <div id="mh-banner">
    <div id="mh-title">
      {{ round.round.name }}
    </div>
  </div>

  <div id="mh-content">
    <div class="mh-flavortext">
      If Humpty's unbirthday gifts you can find,<br />
      He'll reveal an important aversion;<br />
      Stare at this picture until you go blind,<br />
      (Click for access to a larger version).
    </div>
    <div>
      <ul>
	{% for puzzle in puzzles %}
	<li><a href="{{ root }}/puzzle/{{ puzzle.puzzle.url }}/">{{ puzzle.puzzle.name }}</a>
	  {% if puzzle.solved %}[SOLVED]{% endif %}
	  {% endfor %}
      </ul>
    </div>
    {% if jigsaw >= 1 %}
    <div>
      <table id="mh-humpty-table">
	<tr>
	  <td>
	    {% if jigsaw >= 1 %}
	    <a href="jigsaw/01.png">
	      <img src="jigsaw/01-thumb.png" />
	    </a>
	    {% endif %}
	  </td>
	  <td>
	    {% if jigsaw >= 2 %}
	    <a href="jigsaw/02.png">
	      <img src="jigsaw/02-thumb.png" />
	    </a>
	    {% endif %}
	  </td>
	  <td>
	    {% if jigsaw >= 3 %}
	    <a href="jigsaw/03.png">
	      <img src="jigsaw/03-thumb.png" />
	    </a>
	    {% endif %}
	  </td>
	</tr>
	{% if jigsaw >= 4 %}
	<tr>
	  <td>
	    {% if jigsaw >= 4 %}
	    <a href="jigsaw/04.png">
	      <img src="jigsaw/04-thumb.png" />
	    </a>
	    {% endif %}
	  </td>
	  <td>
	    {% if jigsaw >= 5 %}
	    <a href="jigsaw/05.png">
	      <img src="jigsaw/05-thumb.png" />
	    </a>
	    {% endif %}
	  </td>
	  <td>
	    {% if jigsaw >= 6 %}
	    <a href="jigsaw/06.png">
	      <img src="jigsaw/06-thumb.png" />
	    </a>
	    {% endif %}
	  </td>
	</tr>
	{% endif %}
	{% if jigsaw >= 7 %}
	<tr>
	  <td>
	    {% if jigsaw >= 7 %}
	    <a href="jigsaw/07.png">
	      <img src="jigsaw/07-thumb.png" />
	    </a>
	    {% endif %}
	  </td>
	  <td>
	    {% if jigsaw >= 8 %}
	    <a href="jigsaw/08.png">
	      <img src="jigsaw/08-thumb.png" />
	    </a>
	    {% endif %}
	  </td>
	  <td>
	    {% if jigsaw >= 9 %}
	    <a href="jigsaw/09.png">
	      <img src="jigsaw/09-thumb.png" />
	    </a>
	    {% endif %}
	  </td>
	</tr>
	{% endif %}
	{% if jigsaw >= 10 %}
	<tr>
	  <td>
	    {% if jigsaw >= 10 %}
	    <a href="jigsaw/10.png">
	      <img src="jigsaw/10-thumb.png" />
	    </a>
	    {% endif %}
	  </td>
	  <td>
	    {% if jigsaw >= 11 %}
	    <a href="jigsaw/11.png">
	      <img src="jigsaw/11-thumb.png" />
	    </a>
	    {% endif %}
	  </td>
	  <td>
	    {% if jigsaw >= 12 %}
	    <a href="jigsaw/12.png">
	      <img src="jigsaw/12-thumb.png" />
	    </a>
	    {% endif %}
	  </td>
	</tr>
	{% endif %}
      </table>
    </div>
    {% endif %}
  </div>

</div>

{% include "round-tail.html" %}
