<!DOCTYPE html>
<html>
  <head>
    <title>{{ round.round.name }}</title>
    <link rel="stylesheet" type="text/css" href="story.css">
    <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body> 
    <div id="mh-controls">
      <a href="{{ root }}/wonderland/">
	Back to Wonderland
      </a>
      <a href="javascript:mh.nav();">
	Elsewhere
      </a>
    </div>
    <div id="mh-surface">
      <div id="mh-book">
	<div id="mh-col1">
	  <div id="mh-title">{{ round.round.name }}</div>
	  <div style="position: relative;">
	    <img id="mh-image" src="party.jpg" />
	    <a id="mh-face" href=".">
	      <img title="{{ round.round.name }}" src="face.gif" />
	    </a>
	  </div>
	  <p>
	  After one final ride on a train, you find yourself at what appears to be a child's birthday party... only there aren't any children around.  The Cheshire Cat is around... he always seems to be around.

	  <p>
	  "A very merry unbirthday to you!  Unless it isn't, it which case, a very unmerry birthday to you.  It's also Humpty Dumpty's unbirthday and you're at his party.  Did you bring a gift?

	  <p>
	  "Of course you didn't.  You're very unthoughtful.  No matter -- Humpty has plenty of gifts to stoke his fragile ego.  Everything's fragile with Humpty.  But he does know something you don't.  He knows how to drive the beast away... and he did, which is probably
	</div>
	<div id="mh-col2">
	  <p>
	    why he's still in one piece.  Perhaps you can piece it together yourself.

	  <p>
	  "I have a sudden craving for poached eggs," says the cat, vanishing into the void once again.
	    
	  <p>
	    <a href=".">To {{ round.round.name }}</a>
	</div>
      </div>
    </div>
{% include "nav.html" %}
    <script src="story.js"></script>
  </body>
</html>
