<!DOCTYPE html>
<html>
  <head>
    <title>{{ round.round.name }}</title>
    <link rel="stylesheet" type="text/css" href="story.css">
    <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body> 
    <div id="mh-controls">
      <a href="{{ root }}/wonderland/">
	Back to Wonderland
      </a>
      <a href="javascript:mh.nav();">
	Elsewhere
      </a>
    </div>
    <div id="mh-book">
      <div id="mh-col1">
	<div id="mh-title">{{ round.round.name }}</div>
	<div style="position: relative;">
	  <a title="{{ round.round.name }}" href=".">
	    <img id="mh-image" src="party.jpg" />
	    <div id="mh-candles">
	      <img src="candles.gif" />
	    </div>
	  </a>
	</div>
	<p>
	  After one final ride on the Wonderland Express, you find yourself at what appears to be a child's birthday party...only there aren't any children around. The Cat is around, though. She always seems to be around.
	<p>
	  "A very merry unbirthday to you! Unless it isn't, in which case, a very unmerry birthday to you. It's also Humpty Dumpty's unbirthday and you're at his party!"
	<p>
	  The Cat disappears and reappears to your right, next to a pile of gifts. "Did you bring a gift? Of course you didn't. You're very unthoughtful. No matter, Humpty has plenty of gifts to stroke his fragile ego.
      </div>
      <div id="mh-col2">
	<p>
	  "Everything's fragile with Humpty. But he does know something you don't. He knows how to drive the Beast away. And he did, which is probably why he's still in one piece. Perhaps you can piece it together yourself."
	<p>
	  "Speaking of pieces..." says the Cat, grinning before vanishing into thin air, piece by piece. Left alone yet again, you walk over to Humpty and his gifts.
	<div class="mh-enter">
	  <a href=".">ENTER</a>
	</div>
      </div>
    </div>
    {% include "nav.html" %}
    <script src="story.js"></script>
  </body>
</html>
