<a href="nachos.html">Nachos</a><br>
<a href="soup.html">Soup</a><br>
<a href="spicyhummusdip.html">Spicy Hummus Dip</a><br>
<a href="tiramisu.html">Tiramisu</a><br>
<a href="waldorfsalad.html">Waldorf Salad</a><br>


{% if gone_with_the_wind_released %}
<br/>
<br/>
<br/>
<br/>
<center>
<hr/>
<p><i>The following is a piece of another puzzle that got carried here by the wind. It is not related to this puzzle or any metapuzzle.</i></p>
<p><img src="wind.png" /></p>
<hr/>
</center>
{% endif %}
