.tcl td {
    text-align:center;
    width: 20px;
}
.t {
    border-collapse: collapse;
}
.t td, .t th {
    border: 1px solid black;
}
.dia {
    width: 150px;
}
.t th {
    height: 200px;
    width: 20px;
    padding: 4px;
    vertical-align: bottom;
}
.orange {
    background:#f90;
}
.green {
    background:#0c0;
}
.light {
    background:#ddd;
}
.dark {
    background:#bbb;
}
.rotate {
    display:block;
    white-space: nowrap;
    width: 20px;
    -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
    -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}