.t {
  border-collapse: collapse;
}
.t TH {
  border: 1px solid black;
  padding: 2px 4px;
}
.t TD {
  border-left: 1px solid black;
  border-right: 1px solid black;
  white-space: nowrap;
}
.t TR.endsec {
  border-bottom: 1px solid black;
}
