{% include "common.css" %}
{% include "solution.css" %}

@media screen {
    body.mh-fancy {
	background: #69b873 url('{{ root }}/round/{{ round.round.url }}/background.jpg') no-repeat top center;
    }
}

{{ solution_css|safe }}
