Places:<br>
&nbsp;&nbsp;<a href="{{ root }}/">Lobby 7</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ root }}/round/mit/" target="_top">MIT</a><br>
{% if has_wl_access %}
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ root }}/wonderland/" target="_top">Wonderland</a><br>
{% for round in rounds %}
{% if round.round.url == "mit" %}
{% elif round.round.url == "events" %}
{% else %}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ root }}/round/{{ round.round.url }}/" target="_top">{{ round.round.name }}</a><br>
{% endif %}
{% endfor %}
{% endif %}
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ root }}/round/events/" target="_top">Events</a><br>
<br>
Utilities:<br>
&nbsp;&nbsp;<a href="{{ root }}/overview.html" target="_top">Team Overview</a><br>
&nbsp;&nbsp;<a href="{{ root }}/log.html" target="_top">Team Log</a><br>
