Places:<br>
&nbsp;&nbsp;<a href="lobby.html">Lobby 7</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="round/mit/">MIT</a><br>
{% if has_wl_access %}
&nbsp;&nbsp;&nbsp;&nbsp;<a href="wonderland/story.html">Wonderland</a><br>
{% for round in rounds %}
{% if round.round.url == "mit" %}
{% elif round.round.url == "events" %}
{% else %}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="round/{{ round.round.url }}/story.html">{{ round.round.name }}</a><br>
{% endif %}
{% endfor %}
{% endif %}
&nbsp;&nbsp;&nbsp;&nbsp;<a href="round/events/story.html">Events</a><br>
<br>
Utilities:<br>
&nbsp;&nbsp;<a href="overview.html">Team Overview</a><br>
&nbsp;&nbsp;<a href="log.html">Team Log</a><br>
&nbsp;&nbsp;<a href="javascript:parent.window.mh.submit_contact();">Contact Hunt HQ</a><br>
<br>
<a href="http://logout:logout@www.aliceshrugged.com/logout">Log Out</a><br>
