{% include "story.css" %}

body {
    background: #e4d4ba;
    color: #000;
}

#mh-links a {
    color: #004 !important;
}

#mh-door {
    position: absolute;
    top: 368px;
    left: 461px;
}

#mh-mushroom {
    position: absolute;
    top: 520px;
    left: 663px;
}
