{% include "story.css" %}

body {
    background: #77598a;
    color: #fff;
}

#mh-links a {
    color: #fff !important;
}

#mh-door {
    position: absolute;
    top: 368px;
    left: 461px;
}

#mh-mushroom {
    position: absolute;
    top: 520px;
    left: 663px;
}
