<!DOCTYPE html>
<html>
<head>
<title>Hunt</title>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
team: {{ team.name }}<br>
<a href="log.html">TEAM LOG</a>
<ul>
{% for round in rounds %}
<li><a href="round/{{ round.round.url }}">{{ round.round.name }}</a>
<ul>
{% for puzzle in round.puzzles %}
<li><a href="puzzle/{{ puzzle.puzzle.url }}">{{ puzzle.puzzle.name }}</a>
{% if puzzle.solved %}[SOLVED]{% endif %}
{% endfor %}
</ul>
{% endfor %}
</ul>
</body>
</html>
