{% include "common.css" %}

#mh-conf {
    text-align: left;
    background: #fff;
    border: 1px solid black;
    box-shadow: #888 4px 4px 2px;
    padding: 10px 20px;
}

#mh-outer {
    text-align: center !important;
}

@media screen {
    body.mh-fancy {
	background: #d0ceca url('{{ root }}/round/mit/background.jpg') no-repeat top center;
    }
}