<!DOCTYPE html>
<html>
<head>
<title>Lobby 7</title>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
team: {{ team.name }}<br>
<a href="log.html">TEAM LOG</a><br>
<a href="teamoverview.html">TEAM OVERVIEW</a><br>
<br>Mystery hunt front page, lobby 7 graphic, etc.
<br>
<ul>
<li> <a href="/round/mit">To MIT</a> </li>

{% if has_wl_access %}
<li> <a href="wonderland.html">To Wonderland</a></li>
{% endif %}

</ul>
</ul>
</body>
</html>
