{% include "story.css" %}
{% include "nav.css" %}

#mh-door {
    position: absolute;
    top: 193px;
    left: 225px;
}

#mh-mushroom {
    position: absolute;
    top: 243px;
    left: 305px;
}

#mh-rabbit-hole {
    position: absolute;
    top: 248px;
    left: 90px;
}