{% include "common.css" %}
{% include "nav.css" %}

@media screen {
    body.mh-fancy {
	background: #d0ceca url('{{ root }}/round/mit/background.jpg') no-repeat top center;
    }
}

#mh-content {
    text-align: left !important;
}

.mh-log {
    font-family: monospace;
}

.mh-log a {
    text-decoration: none;
}

.mh-log-unprotected {
    display: none;
}