{% include "common.css" %}

#mh-content {
    text-align: left !important;
}

.mh-log {
    font-family: monospace;
}

.mh-log a {
    text-decoration: none;
}

.mh-log-unprotected {
    display: none;
}