{% include "common.css" %}

@media screen {
    body.mh-fancy {
	background: #d0ceca url('background.jpg') no-repeat bottom center;
    }
}

#mh-content {
    text-align: left !important;
}

.mh-log {
    font-family: monospace;
}

.mh-log a {
    text-decoration: none;
}

.mh-log-unprotected {
    display: none;
}