<!DOCTYPE html>
<html>
  <head>
    <title>Team Overview</title>
    <link rel="stylesheet" type="text/css" href="overview.css">
    <link href='https://fonts.googleapis.com/css?family=Parisienne|Alice' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body class="mh-fancy">
    <div id="mh-outer">
      <div id="mh-controls">
	<a id="mh-back" href="{{ root }}">
	  Back to Lobby 7
	</a>
	<a id="mh-elsewhere" href="javascript:mh.nav();">
	  Elsewhere
	</a>
      </div>

      <div id="mh-page">
	<div id="mh-banner">
	  <div id="mh-title">
	    Team Overview
	  </div>
	</div>
	<div id="mh-content">
	  team: {{ team.name }}<br>
	  <ul>
	    {% for round in rounds %}
	    {% if round.round.url == "mit" %}
	    <li><a href="{{ root }}/round/{{ round.round.url }}/">{{ round.round.name }}</a>
	      <ul>
		{% for puzzle in round.puzzles %}
		<li><a href="{{ root }}/puzzle/{{ puzzle.puzzle.url }}/">{{ puzzle.puzzle.name }}</a>
		  {% if puzzle.solved %}[SOLVED]{% endif %}
		  {% endfor %}
	      </ul>
	      {% endif %}
	      {% endfor %}
	      {% if has_wl_access %}
	    <li><a href="{{ root }}/wonderland/">Wonderland</a>
	      <ul>
		{% for round in rounds %}
		{% if round.round.url == "mit" %}
		{% elif round.round.url == "events" %}
		{% else %}
		<li><a href="{{ root }}/round/{{ round.round.url }}/">{{ round.round.name }}</a>
		  <ul>
		    {% for puzzle in round.puzzles %}
		    <li><a href="{{ root }}/puzzle/{{ puzzle.puzzle.url }}/">{{ puzzle.puzzle.name }}</a>
		      {% if puzzle.solved %}[SOLVED]{% endif %}
		      {% endfor %}
		  </ul>
		  {% endif %}
		  {% endfor %}
	      </ul>
	      {% endif %}
	      {% for round in rounds %}
	      {% if round.round.url == "events" %}
	    <li><a href="{{ root }}/round/{{ round.round.url }}/">{{ round.round.name }}</a>
	      <ul>
		{% for puzzle in round.puzzles %}
		<li><a href="{{ root }}/puzzle/{{ puzzle.puzzle.url }}/">{{ puzzle.puzzle.name }}</a>
		  {% if puzzle.solved %}[SOLVED]{% endif %}
		  {% endfor %}
	      </ul>
	      {% endif %}
	      {% endfor %}
	  </ul>
	</div>
      </div>
    </div>
{% include "nav.html" %}
    <script src="overview.js"></script>
  </body>
</html>
