{% include "common.css" %}
{% include "nav.css" %}
{% include "contact.css" %}

@media screen {
    body.mh-fancy {
	background: #d0ceca url('{{ root }}/round/mit/background.jpg') no-repeat top center;
    }
}