<div class="mh-flavortext">
Congrats! You've solved this puzzle. The answer is <b>I WANT TO HOLD YOUR HAND</b>. However, you don't know the puzzle's title. When you think you've gotten the title, submit it.
</div>
<br/>

<p>Call HQ for an appointment to solve this puzzle.  Depending on your team size, prepare to bring the appropriate number of people, pencils, and no other external solving tools.  (If you bring smart phones or any other references, you will be asked to surrender them temporarily while you solve the puzzle.)</p>

<table border=1>
<tr><th>Team size</th><td>1-10</td><td>11-20</td><td>21-30</td><td>31-40</td><td>41-50</td><td>51-100</td><td>101+</td></tr>
<tr><th>Number to send</th><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td></tr>
</table>

<p>Your team ({{ team.name }}) registered as having {{ team.size_desc }} members.</p>
