div.cell {position:absolute;font-size:0px;width:30px;height:30px;}
div.highlight {position:absolute;font-size:0px;width:30px;height:30px;border-bottom:yellow 30px solid;}
div.num {position:absolute;font-size:12px;font-family:sans-serif}