<!DOCTYPE html>
<html>
  <head>
    <title>Wonderland</title>
    <link rel="stylesheet" type="text/css" href="wonderland.css">
    <link href='https://fonts.googleapis.com/css?family=Parisienne|Alice' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body class="mh-fancy">
    <div id="mh-outer">
      <div id="mh-controls">
	<a id="mh-back" href="{{ root }}">
	  Back to Lobby
	</a>
      </div>

      <div id="mh-page">
	<div id="mh-banner">
	  <div id="mh-title">
	    Wonderland
	  </div>
	</div>
	<div id="mh-content">
	  team: {{ team.name }}<br>
	  Welcome to Wonderland!<br>
	  <ul>
	    {% for round in rounds %}
	    {% if round.round.order >= 20 %}
	    <li><a href="{{ root }}/round/{{ round.round.url }}/">{{ round.round.name }}</a></li>
	    {% endif %}
	    {% endfor %}
	  </ul>
	</div>
      </div>
    </div>
    <script src="wonderland.js"></script>
  </body>
</html>
