{% include "common.css" %}
{% include "nav.css" %}

@media screen {
    body.mh-fancy {
	background: #d0ceca url('background.jpg') no-repeat top center;
    }
}

.mh-banner {
    position: relative;
}

.mh-ticket-div {
    position: absolute;
    top: 39px;
    right: 10px;
    font-size: 17px;
}
.mh-ticket {
    position: relative;
}
.mh-ticket-num {
    position: absolute;
    top: 10px;
    right: 99px;
}
.mh-ticket-den {
    position: absolute;
    top: 10px;
    right: 69px;
}

.mh-map-location {
    position: absolute;
}

.mh-map-piece {
    position: absolute;
}
