{% include "common.css" %}
{% include "puzzle.css" %}

@media screen {
    body.mh-fancy {
	background: #c3e1ef url('{{ root }}/round/{{ round.round.url }}/puzzle_background.jpg') no-repeat top center;
    }
}

#mh-humpty {
    float: left;
    padding: 10px;
}

{{ puzzle_css|safe }}
