{% include "round-head.html" %}

<div id="mh-controls">
  <a id="mh-back" href="javascript:void(0);">
    Back to MIT
  </a>
  <a id="mh-answer" href="javascript:mh.submit_answer();">
    Submit Answer
  </a>
</div>

<div id="mh-page">
  <div id="mh-banner">
    <div id="mh-title">
      {{ round.round.name }}
    </div>
  </div>

  <div id="mh-content">
    <div class="mh-flavortext">
      You enter a clearing in the forest and find a giant chessboard.  On the board two knights are sparring, although most of the time seems to be spent falling off of their horses instead of actually dueling.  On the side of the board several cardboard cut-outs of various chess pieces are lined up.  The board itself looks like it was once covered in letters, but with all of the scuffling, falling and remounting, the vast majority are now illegible.<br><br>
      
      "The beast was just here!" says the white knight.<br><br>
      
      "Yes, and I think we now know how to defeat it!" says the red.<br><br>
      
      "How?!" says the white.<br><br>
      
      "Umm...I don't remember..." says the red.  "Perhaps if we retrace the steps of our latest sparring match, we can figure it out."<br><br>
      
      "Sure!  Great idea.  So let's see, you went first."<br><br>
      
      "Yes, I went first" says the red. "Do you remember where the other pieces were?" He glances over at the cutouts, now on the sides of the board.<br><br>
      
      "No. I don't even remember where we started! But we both were careful never to step on a square where we could have been captured by an enemy piece."<br><br>
      
      "Or a square we've been to before."<br><br>
      
      "Yes, and I think we both took exactly nine moves to capture all the pieces, ending with the enemy king."<br><br>
      
      "Indeed.  Well, that should be enough information.  Would you mind helping us?"<br><br>
      
      You're not sure how you can help, but then you see what appear to be puzzles written on the backs of all the cardboard pieces, as well as on the backs of the two dueling knights.<br>
    </div>
    
    <p>
      <table class="mh-center">
	<tr><td>
	    <img src="chessboard/chessboard.jpg"><br>
	    <div style="position: relative; top: -60px; left: 60px;">
	      The chessboard upon arriving at the clearing.
	    </div>
      </table>
      {% for piece in pieces %}
      <table class="mh-knights-pieces">
	<tr>
	  {% for puzzle in piece %}
	  <td>
	    <table class="mh-knights-puzzle">
	      <tr>
		<td class="mh-knights-piece"><a href="{{ root }}/puzzle/{{ puzzle.puzzle.url }}/"><img src="chessboard/{{ puzzle.color }}_{{ puzzle.piece }}.png"></a></td>
	      </tr>
	      <tr>
		<td class="mh-knights-caption"><a href="{{ root }}/puzzle/{{ puzzle.puzzle.url }}/">{{ puzzle.puzzle.name }}</a></td>
	      </tr>
	    </table>
	    {% endfor %}
	  </td>
	</tr>
      </table>
      {% endfor %}
  </div>

  {% include "submit-answer.html" %}

</div>

{% include "round-tail.html" %}
