{% include "round-head.html" %}

<div id="mh-controls">
  <a id="mh-back" href="{{ root }}/wonderland/">
    Back to Wonderland
  </a>
  <a id="mh-elsewhere" href="javascript:mh.nav();">
    Elsewhere
  </a>
  {% if team.url == 'hunt_hq' %}
  <a id="mh-answer" href="{{ root }}/round-solution/{{ round.round.url }}/">
    Solution
  </a>
  {% else %}
  <a id="mh-answer" href="javascript:mh.submit_answer();">
    {% if round.solved %}
    Weakness Of The Beast Found!
    {% else %}
    Submit Weakness Of The Beast
    {% endif %}
  </a>
  {% endif %}
</div>

<div id="mh-page">
  <div id="mh-banner">
    <div id="mh-title">
      {{ round.round.name }}
    </div>
  </div>

  <div id="mh-content">
    <div class="mh-roundtext">
      <p>
	You walk up to the giant chessboard to see the two knights sparring. On the side of the board, various chess pieces are lined up. The board itself looks like it was once covered in letters, but with all of the scuffling, the vast majority are now illegible.
      <p>
	"How did you drive the Beast away?" you ask.
      <p>
	"Well..I don't remember..." says the Red Knight. "Perhaps if we retrace the steps of our latest sparring match, we can figure it out."
      <p>
	"Sure! Great idea," says the White Knight. "So let's see, Red went first. Do you remember where the other pieces were?" 
      <p>
	"No. I don't even remember where we started! But we both were careful never to step on a square where we could have been captured by an enemy piece or a square we've been to before. I think we both took exactly nine moves to capture all the pieces, ending with the enemy king," explains the Red Knight.
      <p>
	"Indeed. Well, that should be enough information. Would you mind helping us?"
      <p>
	You're not sure how you can help, but then you see what appear to be puzzles written on the chess pieces, as well as on the backs of the two dueling knights.
    </div>

    <table class="mh-center">
      <tr><td>
	  <img src="chessboard.jpg"><br>
	  <div style="position: relative; top: -60px; left: 60px;">
	    The chessboard upon arriving at the clearing.
	  </div>
    </table>
    <table id="mh-knights-puzzle-table">
      {% for puzzle in puzzles %}
      <tr><td>
	  <a href="{{ root }}/puzzle/{{ puzzle.puzzle.url }}/">
	    <img class="mh-knights-piece" src="{{ root }}/puzzle/{{ puzzle.puzzle.url }}/piece.png" />
	  </a>
	</td><td class="mh-knights-puzzle-name">
	  <a href="{{ root }}/puzzle/{{ puzzle.puzzle.url }}/">
	    {{ puzzle.puzzle.name }}
	  </a>
      </td></tr>
      {% endfor %}
    </table>
  </div>

</div>

{% include "round-tail.html" %}
