{% include "common.css" %}
{% include "round-meta.css" %}

@media screen {
    body.mh-fancy {
	background: #74b87d url('background.jpg') no-repeat top center;
    }
}

#mh-outer {
  width: 940px !important;
}

#mh-knights-puzzle-table {
    margin: 0px auto;
}

.mh-knights-piece {
    height: 40px;
}

#mh-knights-puzzle-table td {
    vertical-align: middle;
}