{% include "common.css" %}
{% include "round-meta.css" %}

@media screen {
    body.mh-fancy {
	background: #74b87d url('puzzle_background.jpg') no-repeat top center;
    }
}

#mh-outer {
  width: 940px !important;
}

.mh-knights-piece {
  vertical-align: bottom;
  padding: 0px 2px;
}
.mh-knights-l {
  text-align: right;
  vertical-align: bottom;
  padding-bottom: 15px;
}
.mh-knights-r {
  text-align: left;
  vertical-align: bottom;
  padding-bottom: 15px;
}
