{% include "common.css" %}
{% include "round-meta.css" %}

@media screen {
    body.mh-fancy {
	background: #74b87d url('background.jpg') no-repeat top center;
    }
}

#mh-outer {
  width: 940px !important;
}

.mh-knights-puzzle {
  width: 150px;
}
.mh-knights-piece {
  text-align: center;
}
.mh-knights-caption {
  text-align: center;
}
