<!DOCTYPE html>
<html>
  <head>
    <title>{{ round.round.name }}</title>
    <link rel="stylesheet" type="text/css" href="story.css">
    <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body> 
    <div id="mh-controls">
      <a href="{{ root }}/wonderland/">
	Back to Wonderland
      </a>
      <a href="javascript:mh.nav();">
	Elsewhere
      </a>
    </div>
    <div id="mh-book">
      <div id="mh-col1">
	<div id="mh-title">{{ round.round.name }}</div>
	<div style="position: relative;">
	  <img id="mh-image" src="field.jpg" />
	  <a id="mh-face" href=".">
	    <img title="{{ round.round.name }}" src="face.gif" />
	  </a>
	</div>
	<p>
	  After a scenic ride on the Wonderland Express, you arrive at a station by a pleasant stream.  On a nearby hill, you see a giant chessboard and what looks like an array of chessmen arranged on it. The Cat appears suddenly on the other side of the stream, eyeing the fish swimming in the brook.  She takes her eyes away for long enough to notice you.
	<p>
	  "It may not look like it, but the Beast was just here. Amazingly, nothing was destroyed. The two knights sparring on the hill over there are good enough at bumbling around themselves, though.
      </div>
      <div id="mh-col2">
	<p>
	  "Somehow, these knights managed to keep the Beast away, but I'm sure they don't remember how. You'll probably get just as much information out of the rest of the chessmen. Maybe you can help those knights remember, and then you'll know the weakness to drive the Beast away, too. I'd offer to help, but..."
	<p>
	  At this moment, the Cat looks down at a fish swimming past, grins, and vanishes into thin air, with the toothy smile lingering just a little longer than the rest. Left alone, you walk towards the knights on the chessboard.
	<p>
	  <a href=".">To {{ round.round.name }}</a>
      </div>
    </div>
    {% include "nav.html" %}
    <script src="story.js"></script>
  </body>
</html>
