    TABLE { border-collapse: collapse; }
    TH, TD { border: 1px solid black; }
    .hl { background: #FF0; }
    .match { display: inline-block; }
    .match TD { font-size: 12px; text-align: center; width: 16px; }
    .pname { min-width: 70px; }
    .points { background: #EEE; }
    .rrrow { margin-bottom: 4px; white-space: nowrap; }
    .stats TH, .stats TD { padding: 0 8px 0 8px; text-align: center; }
    .yr { backgroud: #EEE; font-weight: bold; }
