<!DOCTYPE html>
<html>
  <head>
    <title>{{ puzzle.puzzle.name }} ({{ round.round.name }})</title>
    <link rel="stylesheet" type="text/css" href="puzzle.css">
    <link href="https://fonts.googleapis.com/css?family=Alice" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body class="mh-fancy">
    <div id="mh-outer">
      <div id="mh-controls">
	<a id="mh-back" href="{{ root }}/round/{{ round.round.url }}/">
	  Back to {{ round.round.name }}
	</a>
	<a id="mh-elsewhere" href="javascript:mh.nav()">
	  Elsewhere
	</a>
	{% if team.url == 'hunt_hq' %}
	<a id="mh-answer" href="{{ root }}/puzzle-solution/{{ puzzle.puzzle.url }}/">
	  Solution
	</a>
	{% elif puzzle.url == 'puzzle_with_answer_garciaparra' and not stage2 and not stage3 %}
	<a id="mh-answer" href="javascript:mh.submit_url();">
	  Submit URL
	</a>
	{% elif puzzle.url == 'puzzle_with_answer_garciaparra' and stage2 and not stage3 %}
	{% else %}
	<a id="mh-answer" href="javascript:mh.submit_answer();">
	{% if puzzle.solved %}
	  Solved!
	{% else %}
	  Submit {% if round.round.url == "white_queen" %}Title{% else %}Answer{% endif %}
	{% endif %}
	</a>
	{% endif %}
      </div>
      <div id="mh-page">
