html {
    min-height: 100%
}

body {
    background: darkgray;
}

#mh-surface {
    background: #eee;
    box-shadow: #000 0px 0px 6px;
    margin: 0px auto;
    width: 976px;
    height: 716px;
    padding: 10px 40px;
}

#mh-book {
    font-family: 'Alice', sans-serif;
    font-size: 18px;
    text-align: justify;
    position: relative;
    width: 976px;
    height: 716px;
    background: #e4c3a0 url('{{ root }}/book.jpg') no-repeat top center;
}

#mh-col1 {
    position: absolute;
    left: 31px;
    top: 9px;
    width: 426px;
    height: 665px;
    padding: 10px
}

#mh-col2 {
    position: absolute;
    left: 495px;
    top: 9px;
    width: 426px;
    height: 665px;
    padding: 10px
}

#mh-title {
    text-align: center;
    font-size: 50px;
}
