html {
    min-height: 100%
}

body, td, input {
    font-family: 'Alice', sans-serif;
    font-size: 18px;
}
.mh-flavortext {
    text-align: justify;
    margin: 10px 50px;
}
#mh-links {
    margin: 0px auto;
}
#mh-links a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #000;
    padding: 0px 40px;
}
#mh-outer {
    width: 900px;
}
#mh-image {
    margin: 0px auto;
    position: relative;
}

@media screen {
    body {
	width: 100%;
	margin: 0px;
	text-align: center;
        background: #d0ceca
    }
    #mh-outer {
	padding-top: 10px;
	display: inline-block;
	text-align: left;
        position: relative;
    }
}
