{% include "common.css" %}

@media screen {
    body.mh-fancy {
	background: #7ceeff url('{{ root }}/round/{{ round.round.url }}/puzzle_background.jpg') no-repeat top center;
    }
}

.mh-blank {
  display: inline-block;
  width: 40px;
  border-bottom: 1px solid black;
}

#mh-turtle-blanks td {
  width: 20px;
  border-bottom: 1px solid black;
}
