{% include "common.css" %}

.mh-blank {
  display: inline-block;
  width: 40px;
  border-bottom: 1px solid black;
}

#mh-turtle-blanks td {
  width: 20px;
  border-bottom: 1px solid black;
}
