<table border="0" cellpadding="10" cellspacing="0">
<tr>
	<td>
		<![if gte IE 10]>
		<video width="475" height="350" preload="none" poster="poster.jpg" controls>
			<source src="1.mp4" type="video/mp4">
			<source src="1.ogv" type="video/ogg">
		<![endif]>
			<a href="1.mp4"><img width="475" height="350" src="click.jpg"></a>
		<![if gte IE 10]>
		</video>
		<![endif]>
	</td>
	<td>
		<![if gte IE 10]>
		<video width="475" height="350" preload="none" poster="poster.jpg" controls>
			<source src="2.mp4" type="video/mp4">
			<source src="2.ogv" type="video/ogg">
		<![endif]>
			<a href="2.mp4"><img width="475" height="350" src="click.jpg"></a>
		<![if gte IE 10]>
		</video>
		<![endif]>
	</td>
</tr>
<tr>
	<td>
		<![if gte IE 10]>
		<video width="475" height="350" preload="none" poster="poster.jpg" controls>
			<source src="3.mp4" type="video/mp4">
			<source src="3.ogv" type="video/ogg">
		<![endif]>
			<a href="3.mp4"><img width="475" height="350" src="click.jpg"></a>
		<![if gte IE 10]>
		</video>
		<![endif]>
	</td>
	<td>
		<![if gte IE 10]>
		<video width="475" height="350" preload="none" poster="poster.jpg" controls>
			<source src="4.mp4" type="video/mp4">
			<source src="4.ogv" type="video/ogg">
		<![endif]>
			<a href="4.mp4"><img width="475" height="350" src="click.jpg"></a>
		<![if gte IE 10]>
		</video>
		<![endif]>
	</td>
</tr>
<tr>
	<td>
		<![if gte IE 10]>
		<video width="475" height="350" preload="none" poster="poster.jpg" controls>
			<source src="5.mp4" type="video/mp4">
			<source src="5.ogv" type="video/ogg">
		<![endif]>
			<a href="5.mp4"><img width="475" height="350" src="click.jpg"></a>
		<![if gte IE 10]>
		</video>
		<![endif]>
	</td>
	<td>
		<![if gte IE 10]>
		<video width="475" height="350" preload="none" poster="poster.jpg" controls>
			<source src="6.mp4" type="video/mp4">
			<source src="6.ogv" type="video/ogg">
		<![endif]>
			<a href="6.mp4"><img width="475" height="350" src="click.jpg"></a>
		<![if gte IE 10]>
		</video>
		<![endif]>
	</td>
</tr>
<tr>
	<td>
		<![if gte IE 10]>
		<video width="475" height="350" preload="none" poster="poster.jpg" controls>
			<source src="7.mp4" type="video/mp4">
			<source src="7.ogv" type="video/ogg">
		<![endif]>
			<a href="7.mp4"><img width="475" height="350" src="click.jpg"></a>
		<![if gte IE 10]>
		</video>
		<![endif]>
	</td>
	<td>
		<![if gte IE 10]>
		<video width="475" height="350" preload="none" poster="poster.jpg" controls>
			<source src="8.mp4" type="video/mp4">
			<source src="8.ogv" type="video/ogg">
		<![endif]>
			<a href="8.mp4"><img width="475" height="350" src="click.jpg"></a>
		<![if gte IE 10]>
		</video>
		<![endif]>
	</td>
</tr>
</table>


{% if gone_with_the_wind_released %}
<br/>
<br/>
<br/>
<br/>
<center>
<hr/>
<p><i>The following is a piece of another puzzle that got carried here by the wind. It is not related to this puzzle or any metapuzzle.</i></p>
<p><img src="wind.png" /></p>
<hr/>
</center>
{% endif %}
