{% include "puzzle-head.html" %}

<div id="mh-banner">
  {% if puzzle.cup %}
  <div id="mh-teacup">
    <img src="{{ root }}/round/{{ round.round.url }}/cup_{{ puzzle.cup }}.png" />
    {% if puzzle.solved %}<img id="mh-solved" src="{{ root }}/round/{{ round.round.url }}/solved.png" />{% endif %}
  </div>
  {% elif puzzle.chair %}
  <div id="mh-teacup">
    <img src="{{ root }}/round/{{ round.round.url }}/chair_{{ puzzle.chair }}.png" />
    {% if puzzle.solved %}<img id="mh-solved" src="{{ root }}/round/{{ round.round.url }}/solved.png" />{% endif %}
  </div>
  {% endif %}
  <div id="mh-title">
    {{ puzzle.puzzle.name }}
  </div>
</div>

<div id="mh-content">
  {{ index_html|safe }}
</div>

{% include "puzzle-tail.html" %}
