{% include "common.css" %}
{% include "puzzle.css" %}

@media screen {
    body.mh-fancy {
	background: #acec71 url('{{ root }}/round/{{ round.round.url }}/background.jpg') no-repeat top center;
    }
}

#mh-teacup {
    float: left;
    padding: 10px;
    position: relative;
}

#mh-solved {
    position: absolute;
    top: 0px;
    left: 0px;
}

{{ puzzle_css|safe }}
