table.t {width: 80%; margin-left: 10%; margin-right: 10%; border-spacing: 0px;}
table.t td {max-width: 100px;}
table.t td, th {text-align: left; padding: 5px; margin: 0px;}
table.t tr.odd {background-color: #ddddee;}
table.t td:last-child {font-weight: bold;}
