TH {
  padding: 2px 4px;
}
.clues {
  border-collapse: collapse;
}
.clues TD {
  border: 1px solid black;
  padding: 2px 4px;
}
.top {
  background: #eee;
  text-align: left;
}
.bot {
  background: #bbb;
  text-align: right;
}