{% include "round-head.html" %}

<div id="mh-controls">
  <a id="mh-back" href="{{ root }}/wonderland/">
    Back to Wonderland
  </a>
  <a id="mh-elsewhere" href="javascript:mh.nav();">
    Elsewhere
  </a>
  {% if team.url == 'hunt_hq' %}
  <a id="mh-answer" href="{{ root }}/round-solution/{{ round.round.url }}/">
    Solution
  </a>
  {% else %}
  <a id="mh-answer" href="javascript:mh.submit_answer();">
    {% if round.solved %}
    The Mad Hatter's Problem Is Solved!
    {% else %}
    Submit Solution To The Mad Hatter's Problem
    {% endif %}
  </a>
  {% endif %}
</div>

<div id="mh-page">
  <div id="mh-banner">
    <div id="mh-title">
      {{ round.round.name }}
    </div>
  </div>

  <div id="mh-content">
    <div class="mh-roundtext">
      <p>
	There are four seats at the table, which looks like a giant clock. The Mad Hatter and March Hare are sitting in two of them, drinking tea. The other two seats are unoccupied, but have name tags: one says Dormouse, one says The Beast. In front of the Hare are four full steaming cups of moon tea. In front of the Dormouse's empty seat are four full cups of yule tea. The Mad Hatter is sipping from one of four cups of Chinese oolong tea. In front of the Beast's seat, there is nothing but one empty saucer.
      <p>
	"The beast broke our clock! If you could fix it, we'd be grateful," says the Hare. 	
      <p>
	"Why is there no tea at that place setting?" you ask, pointing to the Beast's chair.
      <p>
	"Ah, good question," says the Hatter. "If we knew where the Beast was, we could probably answer that puzzle." 
      <p>
	The Hatter and the Hare appear to be reminiscing on twelve things they and the others said when they were all here. Occasionally they rearrange themselves, taking their tea with them and always in an orderly fashion. Find which chair each character was sitting at when they spoke. Then find where the Beast must have been to help you figure out how to fix the clock.
    </div>

    <div id="mh-party-table-outer">
      <img id="mh-party-table" title="The Table"/>
      <!-- begin preloads -->
      <img src="table_n.jpg" style="display: none;" />
      <img src="table_e.jpg" style="display: none;" />
      <img src="table_s.jpg" style="display: none;" />
      <img src="table_w.jpg" style="display: none;" />
      <!-- end preloads -->
      <input id="mh-party-spill" type="button" value="Spill some tea" />
      <div id="mh-party-message" style="display: none;">
        You spill some tea.<br><br>
        The hatter says, "Move left!"<br>
        and rearranges the table.
      </div>
    </div>

    <table id="mh-party-puzzle-table">
      {% for puzzle in puzzles %}
      <tr><td>
	  <div style="position: relative;">
	    <a href="{{ root }}/puzzle/{{ puzzle.puzzle.url }}/">
	      {% if puzzle.chair %}
	      <img class="mh-party-chair" src="chair_{{ puzzle.chair }}.png" />
	      {% elif puzzle.cup %}
	      <img class="mh-party-cup" src="cup_{{ puzzle.cup }}.png" />
	      {% endif %}
	    </a>
	    {% if puzzle.solved %}
	    <img class="mh-party-solved" src="solved.png" />
	    {% endif %}
	  </div>
	</td><td class="mh-party-puzzle-name">
	  <a href="{{ root }}/puzzle/{{ puzzle.puzzle.url }}/">
	    {{ puzzle.puzzle.name }}
	  </a>
      </td></tr>
      {% endfor %}
    </table>
  </div>

</div>

{% include "round-tail.html" %}
