{% include "round-head.html" %}

<div id="mh-controls">
  <a id="mh-back" href="{{ root }}/wonderland/">
    Back to Wonderland
  </a>
  <a id="mh-answer" href="javascript:mh.submit_answer();">
    {% if round.solved %}
    The Mad Hatter's Problem Is Solved!
    {% else %}
    Submit Solution To The Mad Hatter's Problem
    {% endif %}
  </a>
</div>

<div id="mh-page">
  <div id="mh-banner">
    <div id="mh-title">
      {{ round.round.name }}
    </div>
  </div>

  <div id="mh-content">
    <ul>
      {% for puzzle in puzzles %}
      <li><a href="{{ root }}/puzzle/{{ puzzle.puzzle.url }}/">{{ puzzle.puzzle.name }}</a>
	{% if puzzle.solved %}[SOLVED]{% endif %}
	{% endfor %}
    </ul>
  </div>

</div>

{% include "round-tail.html" %}
