{% include "round-head.html" %}

<div id="mh-controls">
  <a id="mh-back" href="{{ root }}/wonderland/">
    Back to Wonderland
  </a>
  <a id="mh-elsewhere" href="javascript:mh.nav();">
    Elsewhere
  </a>
  <a id="mh-answer" href="javascript:mh.submit_answer();">
    {% if round.solved %}
    The Mad Hatter's Problem Is Solved!
    {% else %}
    Submit Solution To The Mad Hatter's Problem
    {% endif %}
  </a>
</div>

<div id="mh-page">
  <div id="mh-banner">
    <div id="mh-title">
      {{ round.round.name }}
    </div>
  </div>

  <div id="mh-content">
    <div id="mh-party-table-outer">
      <img id="mh-party-table" title="The Table"/>
      <input id="mh-party-spill" type="button" value="Spill some tea" />
      <div id="mh-party-message" style="display: none;">
        You spill some tea.<br><br>
        The hatter says, "Move left!"<br>
        and rearranges the table.
      </div>
    </div>

    <div class="mh-flavortext">
After tumbling down a hole, you brush yourselves off to find yourselves at what appears to be a tea-party, although one seemingly attended by a person wearing an oversized hat, sitting opposite a large hare. As the guy with the large hat hears you coming, he lifts his head and shouts, "No room! No room!" The tone of his voice assures you that this hatter must be mad.

<p>
"What are you talking about?" you say, "There's plenty of room." There appear to be four seats at the table, two of which are unoccupied. However, looking closer you notice that the two empty seats all have name tags on them, one says Dormouse and one says Alice. Also, in front of the hare are 4 full steaming cups of what appear to be moon tea. In front of the empty dormouse seat, are four cups of yule tea. And the mad-hatter is sipping from one of four cups of chinese oolong tea. A cup that seems to remain full, no matter how much he drinks. In front of Alice's seat there is nothing but one empty saucer.

<p>
"Why are you guys drinking on opposite sides of the table?" you ask.

<p>
"Because it's tea time, idiot." the hatter snaps back.

<p>
"And how long will it remain tea-time?" you ask, stifling your anger.

<p>
"Can't you see that my watch is broken?" says the hare.

<p>
"And how come there's no tea at that place setting?" you ask, pointing to Alice's chair.

<p>
"Ah, the first good question you've asked," says the hatter. "If we knew where she was, we could probably answer that puzzle, the most important puzzle of all." He then sighs and goes back to contemplating his tea. And you wonder how that even approached a reasonable answer to your question.

<p>
Suddenly, in a bit of absent-mindedness, the mad-hatter drops one of his tea-cups spilling tea on the table around him. He immediately shouts to no-one in particular, "Move left! Move left!" He then looks around him at the other empty seats, sighs again, and picks up his tea and moves to the chair next to the left of his. Afterwards he rearranges the other two nametags, while the hare seats himself on the chair that used to be the dormouse's. You're about to leave the hatter and hare at their solitary and apparently bitter vigil of a tea-party, when you suddenly notice that each of the chairs has strange things written on the backs of them.

<p>
The Mad-hatter appears to be reminiscing on twelve things he and his friends said when they were all at the tea party together. Find where the character was sitting when they spoke. Then find where Alice must have been.
</div>
    <ul>
      {% for puzzle in puzzles %}
      <li><a href="{{ root }}/puzzle/{{ puzzle.puzzle.url }}/">{{ puzzle.puzzle.name }}</a>
	{% if puzzle.solved %}[SOLVED]{% endif %}
	{% endfor %}
    </ul>
  </div>

</div>

{% include "round-tail.html" %}
