{% include "common.css" %}
{% include "round-meta.css" %}

@media screen {
    body.mh-fancy {
	background: #7ceeff url('background.jpg') no-repeat top center;
    }
}

#mh-party-table-outer {
    position: relative;
}

#mh-party-spill {
    position: absolute;
    top: 10px;
    left: 90px;
}

#mh-party-message {
    position: absolute;
    left: 330px;
    top: 141px;
    text-align: center;
    padding: 10px;
    border-radius: 40px;
    background: #444;
    color: #fff;
    box-shadow: 4px 4px 2px #888;
}

#mh-party-table {
    width: 880px;
    height: 448px;
}

.mh-party-cup {
    height: 40px;
}

#mh-party-puzzle-table {
    margin: 0px auto;
}

#mh-party-puzzle-table td {
    vertical-align: middle;
}