{% include "puzzle-head.html" %}

<div id="mh-banner">
  <div id="mh-mit-card">
    <img src="card.png" />
    {% if puzzle.solved %}
    <img class="mh-mit-card-solved" src="{{ root }}/round/{{ round.round.url }}/solved.png" />
    {% endif %}
  </div>
  <div id="mh-title">
    {{ puzzle.puzzle.name }}
  </div>
</div>

<div id="mh-content">
  {{ index_html|safe }}
</div>

{% include "puzzle-tail.html" %}
