#mh-outer {
  width: 970px !important;
}
.c {
  margin: 0px auto;
  text-align: center;
}
._ {
  position: relative;
  width: 940px;
  height: 310px;
  border: 2px solid black;
  background: #444;
  border-radius: 10px;
  margin: 0px auto 5px auto;
}
.l {
  border: 0px;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 460px;
  height: 300px;
}
.r {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 460px;
  height: 300px;
}
